# Dependencies
node_modules/

# Build outputs
dist/
release/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.sw?
*.swo

# Environment
.env
.env.*

# Electron / Packaging
*.asar
*.asar.unpacked

# Coverage / Test
coverage/

# Misc
*.tgz
